---
layout: default
---

<noscript>
	<style>

		article .footnotes {
			display: block;
		}
	</style>
</noscript>

<article>

<div style='float:left;'>
	<div class="center">
		<h1>{{ page.title }}</h1>
		<time>{{ page.date | date: '%B %-d, %Y' }}</time>
	</div>

	<div class="divider"></div>

	{{ content }}
</div>

<div id='article_list_p st' style='float:right;
			width:250px;
			height:100%;
			position:absolute;
			right:10px;
			top:300px;
			font-size:12px;'>
</div>

</article>

	<div class="ds-thread" data-thread-key="{{page.id}}" data-title="{{page.title}}" data-url="/{{page.url}}" style='width:766px;margin:0px auto'></div>
	<!-- 多说评论框 end -->
	<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
	<script type="text/javascript">
	var duoshuoQuery = {short_name:"aron"};
		(function() {
					var ds = document.createElement('script');
							ds.type = 'text/javascript';ds.async = true;
									ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
											ds.charset = 'UTF-8';
													(document.getElementsByTagName('head')[0] 
															 || document.getElementsByTagName('body')[0]).appendChild(ds);
															 	})();
																	</script>
																	<!-- 多说公共JS代码 end -->


<div class="back">
	<a href="{{site.baseurl}}/">Back</a>
</div>


